<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><%=link_to 'Edit', :back%></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>

<div class="mid_wrapp padd34">
  <h4><%=@todo.title%></h4>
  <div class="priv_col_wrapper">
  <%=nested_form_for [:admin, @todo] do |f|%>
    <%= render 'todos/form', f: f%>
  <%end%>
  </div>
</div>