<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><%=link_to 'Create', :back%></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>

<div class="mid_wrapp padd34">
  <div class="priv_col_wrapper">
    <%=nested_form_for [:admin, @todo] do |f|%>
      <div class="priv_col_wrapper">
        <div class="d_input_wrap">
          <ul>
            <li>
              <a href="javascript:;">Country</a>
              <span class="blue_norway"><%=select_tag(:country, options_for_select(countries), class: 'country_select')%></span>
            </li>
            <li>
              <a href="javascript:;">Language</a>
              <span class="blue_norway"><%=select_tag(:language,options_for_select(languages), class: 'language_select', id: 'select_language' )%></span>
            </li>
          </ul>
        </div>
      </div>

      <div id="show_customer_type"></div>
      <div id="show_customer"></div>
    
      <div id="show_user_types"></div>
      <!-- <div class="green_btn_wrapper" style="display:none" id="todo_next_btn">
        <%#=f.submit 'Next', class: 'submit_btn'%>
      </div> -->
      <div style="display:none" id="todo_next_btn">
        <%= render 'todos/form', f: f%>
      </div>
    <%end%>
  </div>
</div>
<script type="text/javascript">
  $('#select_language').change(function(){
    country = $("#country").val();
    language = $(this).val();
    $.ajax({
      type: 'GET',
      data: {country: country, language: language, from: 'todo'},
      url: '/admin/fetch_customer_types',
      success: function (data) {
      }
    });
  });
</script>