<%#=render 'todos/todo_actions'%>

<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><a href="/">&nbsp;</a></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>

<div class="vertical_mid_center">
  <div class="welcome_col">          
    <ul class="func_list">
     	<li>
        <%=link_to new_admin_todo_path do%>
          <%=image_tag 'create_icon.png', width: '77', height: '64'%>
          <h5>Create</h5>
        <%end%>
      </li>
      <li>
        <%=link_to search_admin_todos_path do%>
          <%=image_tag 'edi_icon.png', width: '77', height: '64'%>
          <h5>Edit</h5>
        <%end%>
        </li>
      <li>
        <%=link_to "#" do%>
          <%=image_tag 'report_icon.png', width: '77', height: '64'%>
          <h5>Report</h5>
        <%end%>
      </li>
    </ul>
  </div>
</div>	