<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><a href="/">&nbsp;</a></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>
   
<div class="c_row_1 c_row_2">
	<div class="search_col">
    <%=form_tag search_daycare_daycare_workers_path, method: :get, remote: true do %>
    	<input name="q" type="text" class="search_input" placeholder="Search Daycare">
      <%=submit_tag '', class: 'search_btn'%>
    <%end%>
  </div>
</div>
<%= form_tag select_department_daycare_workers_path do%>
  <div class="elly_Wrap" id="daycare_list">
    <%=render 'daycare_list', daycares: Daycare.all %>
  </div>
<% end %>
<div id="invite_daycare"></div>