<div class="vertical_mid_center">
  <div class="welcome_col">
   	<div class="login_wrapper">
   	  <h5>Set Password</h5>
      <div class="login_popup">
        <%=image_tag 'login_logo.jpg', width: '236', height: '133', class: 'login_logo', alt: 'Healthcare'%>
        <%=form_tag set_password_password_path(@user), method: :post do%>
          <%#= hidden_field_tag :email, @user.email%>
          <%= hidden_field_tag :role, @role%>
          <%=password_field_tag :password, nil, class: 'password_icon', placeholder: 'Password', required: true%>
          <%=password_field_tag :password_confirmation, nil, class: 'password_icon', placeholder: 'Password Confirmation', required: true%>
          <%=submit_tag 'Save', class: 'login_btn'%>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').addClass('welcome_body');
</script>
