<%= f.fields_for :icon do |image| %>
  <div class="c_list_1 c_list_3">
    <h4>Add Icon</h4>
  </div>
  <div class="c_list_1_in c_list_1_in2">
    <%= image.file_field :image, class: "c_list_1" %>
  </div>
<% end %>

<div class="schedule_col">
  <div class="schedule_field">
    <div class="sehedule_dt_tm">
      <label>Schedule Date / time</label>
      <%if @todo.new_record?%>
        <%=f.text_field :schedule_date, placeholder: '10-07-2015 10:30', class: 'datetimepicker', readonly: true%>
      <%else%>
        <%=f.text_field :schedule_date, placeholder: '10-07-2015 10:30', class: 'datetimepicker', readonly: true, disabled: true%>
      <%end%>
    </div>
    <a class="sc_cal_icon fl"></a>
    <div class="sehedule_dt_tm">
      <label>Due Date / time</label>
      <%if @todo.new_record?%>
        <%=f.text_field :due_date, placeholder: '20-07-2015 10:30', class: 'datetimepicker', readonly: true%>
      <%else%>
        <%=f.text_field :due_date, placeholder: '20-07-2015 10:30', class: 'datetimepicker', readonly: true, disabled: true%>
      <%end%>
    </div>
  </div>


  <div class="schedule_field">
    <div class="sc_1">
      <label>Is Delegatable</label>
      <div class="">
        <%=f.check_box :is_delegatable%>
    </div>
  </div>
   <div class="schedule_field">
    <div class="sc_1">
      <label>Is Circulatable</label>
      <div class="">
        <%=f.check_box :is_circulatable%>       
    </div>
  </div>

  <div class="schedule_field">
    <div class="sc_1">
      <label>Add Title</label>
      <div class="add_key_task">
        <%if @todo.new_record?%>
          <%=f.text_field :title, class: 'key_task_input', placeholder: 'Title'%>
        <%else%>
          <%=f.text_field :title, class: 'key_task_input', placeholder: 'Title', disabled: true%>
        <%end%>
      </div>
      <%= f.link_to_add "Add Key <br/>Task".html_safe, :key_tasks, class: 'add_file' %>
    </div>
  </div>
  <div class="schedule_field">
    <div class="sc_1">
      <%=f.fields_for :key_tasks do |key_task|%>
        <label class="pdleft_40">Key Task</label>
        <span class="sc_no">1</span>
        <div class="add_key_task wdt77">
          <%=key_task.text_field :name, class: 'key_task_input', placeholder: 'Task Name'%>
          <%= key_task.link_to_remove "", class: 'close_img' %>
        </div>
        <%= key_task.link_to_add "Add Sub <br/>Task".html_safe, :sub_tasks, class: 'add_file sub_task_btn' %>
        <div class="add_sub_task_col">
          <div class="sc_1">
            <label>Sub Task</label>
            <%=key_task.fields_for :sub_tasks do |sub_task|%>
              <div class="add_key_task">
                <%=sub_task.text_field :name, class: 'key_task_input', placeholder: 'Sub Task Name'%> 
                <%= sub_task.link_to_remove "", class: 'close_img' %>
              </div>
              <!-- <div class="add_key_task">
                <input name="" type="text" class="key_task_input" placeholder="Save tress"> 
                <a class="close_img" href="#"></a>
              </div> -->
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <%=f.submit 'Save', class: 'submit_btn mar_b'%>
</div>