<%= f.fields_for :icon do |image| %>
  <div class="c_list_1 c_list_3">
    <h4>Add Icon</h4>
  </div>
  <div class="c_list_1_in c_list_1_in2">
    <%= image.file_field :image, class: "c_list_1" %>
  </div>
<% end %>


<div class="schedule_col">
  <div class="schedule_field">
    <div class="sehedule_dt_tm">
      <label>Todo Frequency</label>
      <%= f.select(:frequency, Todo::FREQUENCY, {}, {:class => 'select_frequency'})%>
    </div>
    <div class="sehedule_dt_tm" id="repeat_opt" style="display:none;">
      <label>Repeat At</label>
      <%= f.select(:recurring_rule, Todo::RECURRANCE_OPTIONS, {prompt: "Select Repeat Options"}, {:class => ''})%>
    </div>
  </div>


<div class="schedule_col">
  <div class="schedule_field">
    <div class="sehedule_dt_tm">
      <label>Schedule Date / time</label>
      <%if @todo.new_record?%>
        <%=f.text_field :schedule_date, placeholder: 'Choose Schedule date and time', class: 'datetimepicker', readonly: true%>
      <%else%>
        <%=f.text_field :schedule_date, placeholder: 'Choose Schedule date and time', class: 'datetimepicker', readonly: true, disabled: true%>
        <%=f.hidden_field :schedule_date, value: @todo.schedule_date %>
      <%end%>
    </div>
    <a class="sc_cal_icon fl"></a>
    <div class="sehedule_dt_tm">
      <label>Due Date / time</label>
      <%if @todo.new_record?%>
        <%=f.text_field :due_date, placeholder: 'Choose Completion date and time', class: 'datetimepicker', readonly: true%>
      <%else%>
        <%=f.text_field :due_date, placeholder: 'Choose Completion date and time', class: 'datetimepicker', readonly: true, disabled: true%>
        <%=f.hidden_field :due_date, value: @todo.due_date %>
      <%end%>
    </div>
  </div>

  <div class="schedule_field">
    <%#= select_tag :customer_type_id, options_from_collection_for_select(CustomerType.all, 'id', 'name'), prompt: 'Select Frequency', class: 'todo_select', required: true %>
  </div>

  <div class="schedule_field">
    <div class="sc_1">
      <label>Is Delegatable</label>
      <div class="">
        <%=f.check_box :is_delegatable%>
      </div>
    </div>
  </div>

  <div class="schedule_field">
    <div class="sc_1">
      <label>Is Circulatable</label>
      <div class="">
        <%=f.check_box :is_circulatable%>
      </div>    
    </div>
  </div>

  <div class="schedule_field">
    <div class="sc_1">
      <label>Add Title</label>
      <div class="add_key_task">
        <%if @todo.new_record?%>
          <%=f.text_field :title, class: 'key_task_input', placeholder: 'Title'%>
        <%else%>
          <%=f.text_field :title, class: 'key_task_input', placeholder: 'Title', disabled: true%>
        <%end%>
      </div>
      <%= f.link_to_add "Add Key <br/>Task".html_safe, :key_tasks, class: 'add_file' %>
    </div>
  </div>
  <div class="schedule_field">
    <div class="sc_1">
      <%=f.fields_for :key_tasks do |key_task|%>
        <label class="pdleft_40">Key Task</label>
        <span class="sc_no">1</span>
        <div class="add_key_task wdt77">
          <%=key_task.text_field :name, class: 'key_task_input', placeholder: 'Task Name'%>
          <%= key_task.link_to_remove "", class: 'close_img' %>
        </div>
        <%= key_task.link_to_add "Add Sub <br/>Task".html_safe, :sub_tasks, class: 'add_file sub_task_btn' %>
        <div class="add_sub_task_col">
          <div class="sc_1">
            <label>Sub Task</label>
            <%=key_task.fields_for :sub_tasks do |sub_task|%>
              <div class="add_key_task">
                <%=sub_task.text_field :name, class: 'key_task_input', placeholder: 'Sub Task Name'%> 
                <%= sub_task.link_to_remove "", class: 'close_img' %>
              </div>
              <!-- <div class="add_key_task">
                <input name="" type="text" class="key_task_input" placeholder="Save tress"> 
                <a class="close_img" href="#"></a>
              </div> -->
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <%=f.submit 'Save', class: 'submit_btn mar_b'%>
</div>

<script type="text/javascript">
  $(".select_frequency").change(function(){
    if($(".select_frequency").val() == "" || $(".select_frequency").val() == "One Time Event"){
      $("#todo_recurring_rule").val("")
      $("#repeat_opt").hide()
      
    }else
    {      
      $("#todo_recurring_rule").val("")
      $("#repeat_opt").show()
    }
  });

  $( document ).ready(function() {
    if($(".select_frequency").val() == "" || $(".select_frequency").val() == "One Time Event"){
      $("#todo_recurring_rule").val("")
      $("#repeat_opt").hide()      
    }else
    {      
      $("#repeat_opt").show()
    }
  });
</script>
