<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><%=link_to 'Create', :back%></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>
<div class="mid_wrapp padd34">
  <%=nested_form_for @todo do |f|%>
    <%= render 'admin/todos/chose_department_or_user'%>
    <div id="show_user_types"></div>
    <div id="show_users"></div>
    <div style="display:none" id="todo_next_btn">
      <%= render 'form', f: f%>
    </div>
  <%end%>
</div>