<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><%=link_to 'Functionality', :back%></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>
<div class="mid_wrapp padd34">
  <div class="priv_col_wrapper">
    <div class="d_input_wrap">
      <ul>
        <li><a href="javascript:;">Country</a>
          <span class="blue_norway"><%=select_tag(:country,options_for_select(countries), class: 'country_select')%></span>
        </li>
        <li><a href="javascript:;">Language</a>
          <span class="blue_norway"><%=select_tag(:language,options_for_select(languages), class: 'language_select')%></span>
        </li>
        <li><a href="#">Customer</a>
          <span class="blue_norway">Single</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="previlidge_category functi_category">
    <ul>
      <li>
        <a href="#">
          <%=image_tag 'alleragy_icon_1.jpg'%>
          <span class="ser_heading">Allergy</span>
        </a>
      </li>
      <li class="prev_box">
        <%=link_to todos_admin_todos_path do %>
          <%=image_tag 'todo_list_icon_1.jpg'%>
          <span class="ser_heading">Todo List</span>
        <%end%>
      </li>
    </ul>
  </div>
</div>
