<div class="vertical_mid_center">
  <div class="welcome_col">
    <div class="login_wrapper">
      <h5>Superadmin Login</h5>
      <div class="login_popup">
        <%=image_tag 'login_logo.jpg', width: '236', height: '133', class: 'login_logo', alt: 'Healthcare'%>
        <%=form_tag '/admin/login', method: :post do %>
          <%=email_field_tag :email, nil, class: 'user_icon', placeholder: 'Email', required: true%>
          <%=password_field_tag :password, nil, class: 'password_icon', placeholder: 'Password', required: true%>
          <%=submit_tag 'Login', class: 'login_btn'%>
        <%end%>
      </div>
      <a href="#" class="forget_passwrd">Forgot Password?</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').addClass('welcome_body');
</script>