<div class="header_top_row green_header">
  <span class="back_btn"><%=link_to 'Privilege', :back %></span>
  <span class="menu_icons">
    <div class="submenu_toggle green_submenu">
      <ul>
        <li><a href="/">Home</a></li>
        <%if current_user%>
          <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
        <%end%>
      </ul>
    </div>
  </span>
</div>
<div class="mid_wrapp padd34">
  <div class="previlidge_category">
    <%=form_tag admin_set_privilege_path, method: :post do%>
      <%=hidden_field_tag :daycare_id, params[:daycare_id] %>
      <%=hidden_field_tag 'user_type[]', params[:user_type] %>
      <%=hidden_field_tag :functionality, params[:functionality]%>

      <div class="custom_checbox_list check_privilege">
        <ul>
          <li>
            <a href="javascript:;" class="check_label">
              <%=image_tag 'create_icon_1.jpg'%>
              <input type="checkbox" class="user_type_common" name="permission_type[]" id="create" value="CreatePermission" />
              <label class="ser_heading mar_0" for="create">Create</label>
            </a>
          </li>
          <li class="prev_box">
            <a href="javascript:;">
              <%=image_tag 'edit_icon_1.jpg'%>
              <input type="checkbox" class="user_type_common" name="permission_type[]" id="edit" value="EditPermission" />
              <label class="ser_heading mar_0" for="edit">Edit</label>
            </a>
          </li>
          <li class="fun_box"> 
            <a href="javascript:;">
              <%=image_tag 'view_icon.jpg'%>
              <input type="checkbox" class="user_type_common" name="permission_type[]" id="view" value="ViewPermission" />
              <label class="ser_heading mar_0" for="view">View</label>
            </a>
          </li>
          <li class="fun_box"> 
            <a href="javascript:;">
              <%=image_tag 'report_icon_1.jpg'%>
              <input type="checkbox" class="user_type_common" name="permission_type[]" id="report" value="ReportPermission" />
              <label class="ser_heading mar_0" for="report">Report</label>
            </a>
          </li>
        </ul>
      </div>
      <div class="green_btn_wrapper">
        <%=submit_tag 'Apply', class: 'submit_btn green_btn'%>
      </div>
    <%end%>
  </div>
</div>