<div class="header_top_row green_header">
  <span class="back_btn"><%=link_to 'Privilege', :back %></span>
  <span class="menu_icons">
    <div class="submenu_toggle green_submenu">
      <ul>
        <li><a href="/">Home</a></li>
        <%if current_user%>
          <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
        <%end%>
      </ul>
    </div>
  </span>
</div>
<div class="mid_wrapp padd34">
  <div class="previlidge_category">
    <ul>
      <li>
        <a href="javascript:;">
        <%=image_tag 'create_icon_1.jpg'%>
        <span class="ser_heading">Create</span>
        </a>
      </li>
      <li class="prev_box">
        <a href="priviledge.hmtl">
        <%=image_tag 'edit_icon_1.jpg'%>
        <span class="ser_heading">Edit</span>
        </a>
      </li>
      <li class="fun_box"> 
        <a href="functionality.html">
        <%=image_tag 'view_icon.jpg'%>
        <span class="ser_heading">View</span>
        </a>
      </li>
      <li class="fun_box"> 
        <a href="functionality.html">
        <%=image_tag 'report_icon_1.jpg'%>
        <span class="ser_heading">Report</span>
        </a>
      </li>
    </ul>
    <div class="green_btn_wrapper">
      <input name="" type="button" class="submit_btn green_btn" value="Apply" >  
    </div>
  </div>
</div>
